# IDEs and Editors
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Python / Django (Root level or nested)
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/venv/
**/.venv/
**/env/
**/.env
**/db.sqlite3
**/db.sqlite3-journal
**/media/
**/staticfiles/
**/*.log

# Android (Root level or nested)
**/local.properties
**/.gradle/
**/build/
**/captures/
**/.externalNativeBuild
**/.cxx/
